<html>
    <body>

        <h1>Add Lecturer</h1>

        <form action="/addLecturer" method="POST">
            <label>Lecturer ID: </label>
            <input type="text" name="_id"> <br>
            <label>Lecturer Name: </label>
            <input type="text" name="name"><br>
            <label>Dept: </label>
            <input type="text" name="dept"><br>
            <input type="submit" value="Add Lecturer">
        </form>
        <a href="http://localhost:3004/">Home</a> <br>
    </body>
</html>